body {
  margin: 0;
  padding: 0;
}

.header{
  display: inline-flex;
  padding: 0;
  margin: 0;
  height: 100px;
  background-color: brown;
}

.logo{
  height: 80%;
}

.citation{
  display: inline-flex;
  height: auto;
  background-color: blue;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size:xx-large;
  color: rgb(244, 4, 4);
}

.row{
  flex-direction: row;
}

.reverse-row{
  flex-direction: row-reverse;
}

.footer{
  display:flex;
  flex-wrap: wrap;
  background-color: green;
  text-align: center;
  flex-direction: column;
}

#avis{
  display:flex;
  flex-wrap: wrap;
  background-color: #0dcaf0;
  align-content: center;
  flex-direction: column;
}

.contenu{
display : flex;
flex-direction: column;
background-color: #114d5f;
height: auto;
}

#milieu{
  background-color: aquamarine;

}

h1{
  font-size:medium;
  font-weight: bold;
}

h2{
  font-size: small;
  font-style: italic;
}

h3{
  color: grey;
  font-size: small;
  font-style: italic;
}
