body {
    margin: 0;
    padding: 0;
}

.header{
    display: inline-flex;
    padding: 0;
    margin: 0;
    height: auto;
    background-color: brown;
}

.row{
    flex-direction: row;
}

.reverse-row{
    flex-direction: row-reverse;
}

.footer{
    display:flex;
    flex-wrap: wrap;
    background-color: green;
    text-align: center;
    flex-direction: column;
}

.contenu{
    display: block;
}

h1{
    font-size:medium;
    font-weight: bold;
}

h2{
    font-size: small;
    font-style: italic;
}

h3{
    color: grey;
    font-size: small;
    font-style: italic;
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
}

.rounded {
    border-radius: var(--bs-border-radius) !important;
}

#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: #1D809F;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
  
.sidebar-nav > .sidebar-brand a {
    color: #fff;
    text-decoration: none;
}
  
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
